.bgImage
{
	position: relative;
    bottom: 4px;
}

.bgDiv
{
	width: 100%;
    position: relative;
    bottom: 9px;
    height: 381px;
    background-image: linear-gradient(to right, rgb(141, 181, 214), rgb(142, 181, 214));
    font-weight: bold;
}